@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

article,
section[epub|type~="conclusion"]{
	page-break-after: always;
	text-align: center;
}

*[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

*[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

*[epub|type~="z3998:poem"] p span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

*[epub|type~="z3998:poem"] br{
	display: none;
}

article p{
	display: inline-block;
	text-align: left;
	text-indent: 0;
}

article figure{
	page-break-before: always;
	margin: 0;
}

article figure img{
	max-width: 100%;
}

section[epub|type~="volume"] > h2,
section[epub|type~="volume"] > h3{
	margin: 0; /* for spacing in the following stanza in some readers */
	page-break-after: always;
}

section[epub|type~="conclusion"]{
	font-variant: small-caps;
	text-align: center;
}

section[epub|type~="conclusion"]{
	font-size: 2em;
}

abbr.era{
	font-variant: all-small-caps;
}

abbr.name{
	white-space: nowrap;
}
